*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  font-family: 'Montserrat';
}
img {
  max-width: 100%;
  max-height: 100%;
}
.section {
  padding-top: 20px;
  padding-bottom: 50px;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(img/image1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
header .header-content {
  position: absolute;
  z-index: 999;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header .header-content img {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  border: 3px solid #FFF;
}
header .header-content .content {
  z-index: 999;
  margin-top: 20px;
  text-align: center;
}

header .header-content .content h2 {
  color: #FFF;
  font-weight: 600;
  font-size: 2.5rem;
}

header .header-content .content p {
  font-size: 1.3rem;
  color: #FFF;
  font-weight: 500;
}
.imageAboutPage {
  width: 100%;
}
/* services section css */
.service-h5{
  padding-bottom: 30px;
}

.service-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 40px;
}

.card-title {
  text-align: center;
}

.servicesText:hover {
  border: 1px solid rgb(0, 142, 236);
}